@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
section
{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
section img
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section h2
{
    top: 220px;
    font-size: 45px;

}
section input
{
    position: relative;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 10px;
    z-index: 9;
    top: 35px;
    left: 100px;
}
label
{
    position: absolute;
    top: 320px;
    Left: 345px;
    width: 800px;
    height: 200px;
}
label input
{
    width: 100%;
    padding: 8px;
    border: solid 2px #aaa;
    border-radius: 10px;

}
label span
{
    text-decoration: none;
}
section a
{
    color: white;
    background: #392ed1;
    position: relative;
    padding-inline: 8px 10px;
    font-size: 18px;
    top: 150px;
    height: 40px;
    left: -70px;
    border-radius: 10px;
}

#text
{
    position: absolute;
}